.footer {
  margin-top: 100px;
  background-color: #273854;
  color: #fffffd;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-width: 0.1px;
}
.footerText {
  margin-left: auto;
}
