<div [className]="'container'">
    <div [className]="'shortArticle'">
        <div>
            <img [className]="'image'" src="../../assets/img/download.png" alt="newsimage">
        </div>
        <div [className]="'shortArticleSubRightColumn'">
            <h4>{{newsHeading}}</h4>
            <p>{{newsContent| slice:0:500}}...</p>
            <button id=btnReadMore (click)="readMore(news
            )">Read More</button>
            <p></p>
        </div>
        <p [className]="'date'">{{date}}</p>
    </div>

</div>
<div [id]="news.postId" class="modal">
    <div class="modal-content">
        <input type="button" class="close" [id]="btnId" value='X'>
        <div [className]="'container'">
            <div [className]="'shortArticle'">
                <div>
                    <img [className]="'image'" src="../../assets/img/download.png" alt="newsimage">
                </div>
                <div [className]="'shortArticleSubRightColumn'">
                    <h4>{{newsHeadingModal}}</h4>
                    <p>{{newsContentModal}}</p>
                    <p [className]="'date'">{{dateModal}}</p>
                </div>
            </div>
        </div>
    </div>